//COLOR VARIABLES

//@bglight: ;
//@bgdark: ;

//@highlight: ;
//@focus: ;
//@logo: ;
//@logotext: ;


@blue: #191397;
//@darkblue: ;
@lightblue: #413dcc;

@lightlightblue: lighten(@highlightblue, 14%);
@highlightblue: #0069ff;
@darkhighlightblue: darken(@highlightblue, 10%);

@orange: orange;
@highlightyellow: #fcf4b5;

//@gold: ;
//@red: ;
//@purple: ;

@lightestgrey: #eee;
@lightergrey: #ddd;
@lightgrey: #ccc;
@grey: #aaa;
@darkgrey: #888;
@darkergrey: #555;
@darkestgrey: #222;

@transblack: rgba(0, 0, 0, 0.2);
@transwhite: rgba(255, 255, 255, 0.05);

