[project]
	description = sandia-ssl
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Seán C. McCord (Ulexus)
[access "refs/for/refs/*"]
	read = group user/Seán C. McCord (Ulexus)
	push = group user/Seán C. McCord (Ulexus)
	label-Code-Review = -2..+2 group user/Seán C. McCord (Ulexus)
	label-Verified = -1..+1 group user/Seán C. McCord (Ulexus)
	rebase = group user/Seán C. McCord (Ulexus)
	removeReviewer = group user/Seán C. McCord (Ulexus)
	submit = group user/Seán C. McCord (Ulexus)
[access "refs/heads/*"]
	read = group user/Seán C. McCord (Ulexus)
	create = group user/Seán C. McCord (Ulexus)
	push = +force group user/Seán C. McCord (Ulexus)
	pushMerge = group user/Seán C. McCord (Ulexus)
[access "refs/tags/*"]
	push = +force group user/Seán C. McCord (Ulexus)
	pushTag = group user/Seán C. McCord (Ulexus)
	pushSignedTag = group user/Seán C. McCord (Ulexus)
